html, body, ul, div {
    padding; 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#header{
    width: 100%;
    text-align: center;
    border: 1px;
}

.logo {
    height:130px
}

.nav {
    background-color: #F48787;
    color:#ffffff;
    list-style: none;
    text-align: center;
    padding: 10px 0 10px 0;
}

.nav > li{
    display: inline-block;
    padding: 0 20px 0 20px;
}

.nav > li > a {
    text-decoration: none;
    color:#ffffff;  
}

.nav > li > a:hover {
    font-weight: 900;
}

.projecttitle {
    text-align: center; 
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 300%;
}

.projecttitle {
    background-color: #B6DCB7;
}

ul {
    margin: 5px;
    padding: 5px; 
}

div {
    margin: 0;
}

.project {
    margin: 0;
    padding: 0;
}

.thumbnail {
  width: 320px;
  height: 320px;
  background-color: #ddd;
  margin: 15px;
  float: left;
  cursor: pointer;
align-content: center;
}